In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import os

In [2]:
# define base paths
data_dir = "../../data/loaded"
Images_dir = "../../images/process_2"
processed_data_dir = "../../data/processed"
land_file_path = os.path.join(data_dir, "landcover.csv")

In [3]:
land_df = pd.read_csv(land_file_path)

In [4]:
land_df.head()

,ID,GRIDCODE,AREA_M2,LCCCode,geometry
0,4,210,6.228187e+06,7001 // 8001,POLYGON ((6.415277779717008 37.086959465484505...
1,2,210,6.242408e+06,7001 // 8001,POLYGON ((7.180840924329724 37.079166666715295...
2,1,210,1.482995e+06,7001 // 8001,"POLYGON ((7.371374609418377 37.0819444444929, ..."
3,8,50,4.590841e+08,21497-121340,"POLYGON ((6.123611113048653 36.68472222226833,..."
4,13,210,6.371533e+06,7001 // 8001,"POLYGON ((6.261814820345212 37.02361111115902,..."

## Drop cols

In [5]:
# drop GRIDCODE, ID, AREA_M2
land_df = land_df.drop(columns=['GRIDCODE', 'ID', 'AREA_M2'])
land_df.head()

        LCCCode                                           geometry
0  7001 // 8001  POLYGON ((6.415277779717008 37.086959465484505...
1  7001 // 8001  POLYGON ((7.180840924329724 37.079166666715295...
2  7001 // 8001  POLYGON ((7.371374609418377 37.0819444444929, ...
3  21497-121340  POLYGON ((6.123611113048653 36.68472222226833,...
4  7001 // 8001  POLYGON ((6.261814820345212 37.02361111115902,...

In [6]:
# save processed landcover data
land_processed_path = os.path.join(processed_data_dir, "landcover_processed.csv")
land_df.to_csv(land_processed_path, index=False)